---
layout: default
title: Home
published: TRUE
description: "Uma experiência, surreal, sobre a maioria das nossas mentes. O sexo"
---
<!--2014-11-6-model.md-->
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<iframe src="https://docs.google.com/a/oocn.eu/presentation/d/1WVYtxKtwbsfPMEligl_rz5UNYLxPi29DJ_ib-CCBZ3c/embed?start=true&loop=true&delayms=5000" frameborder="0" width="640" height="509" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<hr>


rui.felizes@oocn.eu {MMXIV}

<!--
{% for post in paginator.posts %}
<div class="entry">
<a class="entry-thumb" href="{{ post.source }}" title="Visit {{ post.title }}" target="_blank">
{{ post.content }}
<span class="icon icon-forward entry-icon"></span>
</a>
<div class="entry-content">
<h2 class="entry-title">
<a href="{{ post.url }}">{{ post.title }}</a>
</h2>
<p class="entry-date">{{ post.date | date: "%B %-d, %Y" }}</p>
</div>
</div>
{% endfor %}

{% include pagination.html %}

-->


